1.Now select the rows from 20th index till 200th index (exclusive), and columns from 2nd index till 
15th index value.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("customer_churn.csv")

In [3]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [5]:
df.shape

(7043, 21)

In [4]:
df.iloc[20:200,2:16]

     SeniorCitizen Partner  ...      StreamingMovies        Contract
20               1      No  ...                  Yes  Month-to-month
21               0     Yes  ...  No internet service        One year
22               0      No  ...  No internet service  Month-to-month
23               0     Yes  ...                   No        Two year
24               0     Yes  ...                   No  Month-to-month
..             ...     ...  ...                  ...             ...
195              0     Yes  ...                   No  Month-to-month
196              0     Yes  ...  No internet service        Two year
197              0      No  ...                  Yes  Month-to-month
198              0     Yes  ...                  Yes        Two year
199              0      No  ...  No internet service  Month-to-month

[180 rows x 14 columns]