You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the 
customer_churn dataset with various functions

In [1]:
import pandas as pd
df=pd.read_csv("customer_churn-4.csv")

In [2]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [5]:
df.loc[(df.TechSupport=="Yes")&(df.gender=="Male")&(df.SeniorCitizen==1)]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
57    5067-XJQFU   Male              1  ...         108.45      7076.35     No
72    1891-QRQSA   Male              1  ...         111.60         7099     No
91    2424-WVHPL   Male              1  ...          74.70         74.7     No
273   4716-HHKQH   Male              1  ...         107.05      2172.05     No
382   8204-YJCLA   Male              1  ...          64.80      4732.35     No
...          ...    ...            ...  ...            ...          ...    ...
6601  4909-JOUPP   Male              1  ...         109.70      7898.45     No
6605  7632-MNYOY   Male              1  ...         110.90      7432.05    Yes
6763  7471-MQPOS   Male              1  ...          72.90      5139.65     No
6956  2451-YMUXS   Male              1  ...          64.55       4250.1     No
7007  2274-XUATA   Male              1  ...          63.10      4685.55     No

[119 rows x 21 columns]

1. Use a for loop to calculate the number of customers that are getting the tech support and 
are male senior citizen.

In [10]:
count=0
df1= df.loc[(df.TechSupport=="Yes")&(df.gender=="Male")&(df.SeniorCitizen==1)]
for i in df1.index:
  count = count+1


print("Total customers getting Tech Support and male senior citizen are: ", count)

Total customers getting Tech Support and male senior citizen are:  119